
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-569951525053399936.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-569951525053399936.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-569951525053399936.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-569951525053399936.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-569951525053399936.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-569951525053399936.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-569951525053399936.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-569951525053399936.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-569951525053399936.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-569951525053399936.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-569951525053399936.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-569951525053399936.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-569951525053399936.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-569951525053399936.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-569951525053399936.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-569951525053399936.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-569951525053399936.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-569951525053399936.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-569951525053399936.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-569951525053399936.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-569951525053399936.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-569951525053399936.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-569951525053399936.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-569951525053399936.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-569951525053399936.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-569951525053399936.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-569951525053399936.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-569951525053399936.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-569951525053399936.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-569951525053399936.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-569951525053399936.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-569951525053399936.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-569951525053399936.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-569951525053399936.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-569951525053399936.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-569951525053399936.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-569951525053399936.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-569951525053399936.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-569951525053399936.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-569951525053399936.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-569951525053399936.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-569951525053399936.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-569951525053399936.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-569951525053399936.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-569951525053399936.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-569951525053399936.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-569951525053399936.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-569951525053399936.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-569951525053399936.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-569951525053399936.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-569951525053399936.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-569951525053399936.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-569951525053399936.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-569951525053399936.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-569951525053399936.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-569951525053399936.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-569951525053399936.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-569951525053399936.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-569951525053399936.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-569951525053399936.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-569951525053399936.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-569951525053399936.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-569951525053399936.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-569951525053399936.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-569951525053399936.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-569951525053399936.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-569951525053399936.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-569951525053399936.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-569951525053399936.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-569951525053399936.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-569951525053399936.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-569951525053399936.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-569951525053399936.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-569951525053399936.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-569951525053399936 .-gp-rotate-90,.gps-569951525053399936 .gp-rotate-180,.gps-569951525053399936 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-569951525053399936 .gp-relative{position:relative}.gps-569951525053399936 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-569951525053399936 .gp-mb-0{margin-bottom:0}.gps-569951525053399936 .gp-flex{display:flex}.gps-569951525053399936 .gp-inline-flex{display:inline-flex}.gps-569951525053399936 .gp-grid{display:grid}.gps-569951525053399936 .\!gp-hidden{display:none!important}.gps-569951525053399936 .gp-hidden{display:none}.gps-569951525053399936 .gp-min-h-0{min-height:0}.gps-569951525053399936 .gp-w-full{width:100%}.gps-569951525053399936 .gp-max-w-full{max-width:100%}.gps-569951525053399936 .-gp-rotate-90{--tw-rotate:-90deg}.gps-569951525053399936 .-gp-rotate-90,.gps-569951525053399936 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-569951525053399936 .gp-rotate-180{--tw-rotate:180deg}.gps-569951525053399936 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-569951525053399936 .gp-cursor-pointer{cursor:pointer}.gps-569951525053399936 .gp-grid-rows-\[0fr\]{grid-template-rows:0fr}.gps-569951525053399936 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-569951525053399936 .gp-flex-col{flex-direction:column}.gps-569951525053399936 .gp-items-center{align-items:center}.gps-569951525053399936 .gp-justify-center{justify-content:center}.gps-569951525053399936 .gp-gap-\[16px\]{gap:16px}.gps-569951525053399936 .gp-overflow-hidden{overflow:hidden}.gps-569951525053399936 .gp-overflow-clip{overflow:clip}.gps-569951525053399936 .gp-break-all{word-break:break-all}.gps-569951525053399936 .gp-text-\[var\(--icon-expand-active-color\)\]{color:var(--icon-expand-active-color)}.gps-569951525053399936 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-569951525053399936 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-569951525053399936 .gp-duration-200{transition-duration:.2s}.gps-569951525053399936 .gp-duration-500{transition-duration:.5s}.gps-569951525053399936 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-569951525053399936 .gp-group:hover .group-hover\:\[color\:var\(--icon-expand-hover-color\)\]{color:var(--icon-expand-hover-color)}.gps-569951525053399936 .gp-group:hover .group-hover\:\[color\:var\(--text-hover-color\)\!important\]{color:var(--text-hover-color)!important}}@media (max-width:1024px){.gps-569951525053399936 .tablet\:\!gp-hidden{display:none!important}.gps-569951525053399936 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-569951525053399936 .mobile\:\!gp-hidden{display:none!important}.gps-569951525053399936 .mobile\:gp-hidden{display:none}}.gps-569951525053399936 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-569951525053399936 .\[\&\>svg\]\:\!gp-w-full>svg{width:100%!important}.gps-569951525053399936 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#fdfbf7","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""},"mobile":{"attachment":"scroll","color":"#fdfbf7","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g66wK8POQN"}' data-id="g66wK8POQN" id="g66wK8POQN" data-same-height-subgrid-container class="g66wK8POQN gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:72px;--pl:15px;--pb:40px;--pr:15px;--pt-mobile:63px;--pl-mobile:15px;--pb-mobile:35px;--pr-mobile:15px;--cg:46px;--cg-tablet:30px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#fdfbf7;--bgc-mobile:#fdfbf7;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g_hANSKJO2 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gbXTM6cJdY"}' data-id="gbXTM6cJdY" id="gbXTM6cJdY" data-same-height-subgrid-container class="gbXTM6cJdY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--cg:46px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gWkGnf_iSB gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3V9K_HfAM"
        class="g3V9K_HfAM"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-tablet:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339668533"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:38px;--size-tablet:37px;--size-mobile:37px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3V9K_HfAM_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gj6QZHEkfC"
        class="gj6QZHEkfC"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339668534"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggj6QZHEkfC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g4RzaKtu-I gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l)" class="gQFdjRzWJq ">
      
    <gp-accordion data-id="gQFdjRzWJq" class="gp-flex gp-flex-col gp-w-full" style="--gg:16px;border-radius:inherit"
      gp-data='{"uid":"gQFdjRzWJq","setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":1,"expanded":false,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gQFdjRzWJq","childListNumber":["0"],"chidlrenUid":["gPXf-acuk7","g7YG3GCjOv","gIlgO466uI","gCJ2BTfikM","gRzJ-LKK6T","gJbXdukHri"]},"styles":{"bgColor":{"normal":"#F5F7F8"},"color":{"normal":"#121212"},"headerBorder":{"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"32px","vertical":"32px"},"mobile":{"horizontal":"28px","vertical":"28px"}}},"textColor":{"normal":"#121212"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"16px","padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"32px","left":"32px","right":"32px","top":"32px","type":"custom"}},"mobile":{"padding":{"bottom":"28px","left":"28px","right":"28px","top":"28px","type":"custom"}},"tablet":{"padding":{"bottom":"32px","left":"32px","right":"32px","top":"32px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div data-index="0" class="gQFdjRzWJq gp-overflow-hidden gp-child-item-gQFdjRzWJq gp-accordion-item">
      <div aria-hidden uid="gPXf-acuk7" id="gPXf-acuk7" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gQFdjRzWJq gp-accordion-item-gQFdjRzWJq-0" style="--pl:32px;--pr:32px;--pt:32px;--pb:32px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bgc:#F5F7F8;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:16px;height:16px"
            data-index="0"
            class="-gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full gp-text-[var(--icon-expand-active-color)]">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339668536"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQFdjRzWJq_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="true" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="gKZFHqCzp- gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F5F7F8","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gXTIxRXFti"}' data-id="gXTIxRXFti" id="gXTIxRXFti" data-same-height-subgrid-container class="gXTIxRXFti gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px 0px 0px 0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-16px;--mb:var(undefined);--pt:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--mt-mobile:-14px;--mb-mobile:var(undefined);--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gwx8nCrZdW gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghXy4DKmV4"
        class="ghXy4DKmV4"
        style="--ta:left;--bs:solid;--bw:1px 0px 0px 0px;--bc:#E0E0E0;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--pt:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339668539"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghXy4DKmV4_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div data-index="1" class="gQFdjRzWJq gp-overflow-hidden gp-child-item-gQFdjRzWJq gp-accordion-item">
      <div aria-hidden uid="g7YG3GCjOv" id="g7YG3GCjOv" data-index="1"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gQFdjRzWJq gp-accordion-item-gQFdjRzWJq-1" style="--pl:32px;--pr:32px;--pt:32px;--pb:32px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bgc:#F5F7F8;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:16px;height:16px"
            data-index="1"
            class="gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339668541"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQFdjRzWJq_childItem_1 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="1" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="1" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="geaAqulEDE gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F5F7F8","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gWCWrFezHg"}' data-id="gWCWrFezHg" id="gWCWrFezHg" data-same-height-subgrid-container class="gWCWrFezHg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px 0px 0px 0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-16px;--mb:var(undefined);--pt:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--mt-mobile:-14px;--mb-mobile:var(undefined);--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g2Ve3Ksmha gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtaeOe2tly"
        class="gtaeOe2tly"
        style="--ta:left;--bs:solid;--bw:1px 0px 0px 0px;--bc:#E0E0E0;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--pt:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339668545"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggtaeOe2tly_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div data-index="2" class="gQFdjRzWJq gp-overflow-hidden gp-child-item-gQFdjRzWJq gp-accordion-item">
      <div aria-hidden uid="gIlgO466uI" id="gIlgO466uI" data-index="2"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gQFdjRzWJq gp-accordion-item-gQFdjRzWJq-2" style="--pl:32px;--pr:32px;--pt:32px;--pb:32px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bgc:#F5F7F8;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:16px;height:16px"
            data-index="2"
            class="gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339668546"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQFdjRzWJq_childItem_2 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="2" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="2" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="gNvo0gaEZo gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F5F7F8","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gIaKVtjmB4"}' data-id="gIaKVtjmB4" id="gIaKVtjmB4" data-same-height-subgrid-container class="gIaKVtjmB4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px 0px 0px 0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-16px;--mb:var(undefined);--pt:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--mt-mobile:-14px;--mb-mobile:var(undefined);--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gt3fVgqSfL gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsrNBotSO4"
        class="gsrNBotSO4"
        style="--ta:left;--bs:solid;--bw:1px 0px 0px 0px;--bc:#E0E0E0;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--pt:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339668550"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsrNBotSO4_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div data-index="3" class="gQFdjRzWJq gp-overflow-hidden gp-child-item-gQFdjRzWJq gp-accordion-item">
      <div aria-hidden uid="gCJ2BTfikM" id="gCJ2BTfikM" data-index="3"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gQFdjRzWJq gp-accordion-item-gQFdjRzWJq-3" style="--pl:32px;--pr:32px;--pt:32px;--pb:32px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bgc:#F5F7F8;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:16px;height:16px"
            data-index="3"
            class="gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339668559"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQFdjRzWJq_childItem_3 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="3" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="3" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="g6HjXIvowA gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F5F7F8","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gCU442wSNR"}' data-id="gCU442wSNR" id="gCU442wSNR" data-same-height-subgrid-container class="gCU442wSNR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px 0px 0px 0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-16px;--mb:var(undefined);--pt:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--mt-mobile:-14px;--mb-mobile:var(undefined);--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gNCgY6GNu3 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gK5wkYymoE"
        class="gK5wkYymoE"
        style="--ta:left;--bs:solid;--bw:1px 0px 0px 0px;--bc:#E0E0E0;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--pt:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339668563"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggK5wkYymoE_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div data-index="4" class="gQFdjRzWJq gp-overflow-hidden gp-child-item-gQFdjRzWJq gp-accordion-item">
      <div aria-hidden uid="gRzJ-LKK6T" id="gRzJ-LKK6T" data-index="4"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gQFdjRzWJq gp-accordion-item-gQFdjRzWJq-4" style="--pl:32px;--pr:32px;--pt:32px;--pb:32px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bgc:#F5F7F8;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:16px;height:16px"
            data-index="4"
            class="gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339668577"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQFdjRzWJq_childItem_4 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="4" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="4" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="gk4FRh7CgQ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F5F7F8","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gGqkuFofw_"}' data-id="gGqkuFofw_" id="gGqkuFofw_" data-same-height-subgrid-container class="gGqkuFofw_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px 0px 0px 0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-16px;--mb:var(undefined);--pt:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--mt-mobile:-14px;--mb-mobile:var(undefined);--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gXBwf6s6KI gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gh2fE4a1Y9"
        class="gh2fE4a1Y9"
        style="--ta:left;--bs:solid;--bw:1px 0px 0px 0px;--bc:#E0E0E0;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--pt:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339668581"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggh2fE4a1Y9_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div data-index="5" class="gQFdjRzWJq gp-overflow-hidden gp-child-item-gQFdjRzWJq gp-accordion-item">
      <div aria-hidden uid="gJbXdukHri" id="gJbXdukHri" data-index="5"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gQFdjRzWJq gp-accordion-item-gQFdjRzWJq-5" style="--pl:32px;--pr:32px;--pt:32px;--pb:32px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;--bgc:#F5F7F8;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:16px;height:16px"
            data-index="5"
            class="gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339668585"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQFdjRzWJq_childItem_5 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="5" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="5" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="gdElNtkrHU gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F5F7F8","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gs58cT0KM3"}' data-id="gs58cT0KM3" id="gs58cT0KM3" data-same-height-subgrid-container class="gs58cT0KM3 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px 0px 0px 0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-16px;--mb:var(undefined);--pt:0px;--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--mt-mobile:-14px;--mb-mobile:var(undefined);--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="glBnHA5h7M gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gru91WV73l"
        class="gru91WV73l"
        style="--ta:left;--bs:solid;--bw:1px 0px 0px 0px;--bc:#E0E0E0;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--pt:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339668588"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggru91WV73l_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-569951525053399936 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/cngunn-h8/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=568753992239154208&sectionId=569951525053399936)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg3V9K_HfAM_text","label":"gg3V9K_HfAM_text","default":"<p>Frequently Asked Questions</p>"},{"type":"html","id":"ggj6QZHEkfC_text","label":"ggj6QZHEkfC_text","default":"<p>Still have questions? Email our concierge support team: admin@shopsiluet.com</p>"},{"type":"html","id":"ggQFdjRzWJq_childItem_0","label":"ggQFdjRzWJq_childItem_0","default":"<p>Do you offer payment plans or financing?</p>"},{"type":"html","id":"ggQFdjRzWJq_childItem_1","label":"ggQFdjRzWJq_childItem_1","default":"<p>What makes the Elev Studio different from other reformers?</p>"},{"type":"html","id":"ggQFdjRzWJq_childItem_2","label":"ggQFdjRzWJq_childItem_2","default":"<p>How long does it take to receive my reformer?</p>"},{"type":"html","id":"ggQFdjRzWJq_childItem_3","label":"ggQFdjRzWJq_childItem_3","default":"<p>Is this reformer suitable for beginners or just advanced practitioners?</p>"},{"type":"html","id":"ggQFdjRzWJq_childItem_4","label":"ggQFdjRzWJq_childItem_4","default":"<p>Does the Elev Studio come with a warranty?</p>"},{"type":"html","id":"ggQFdjRzWJq_childItem_5","label":"ggQFdjRzWJq_childItem_5","default":"<p>Can the Elev Studio be easily moved or stored at home?&nbsp;</p>"},{"type":"html","id":"gghXy4DKmV4_text","label":"gghXy4DKmV4_text","default":"<p><strong>Yes.</strong> We offer convenient financing options through <strong>Shop Pay,</strong> allowing you to pay in installments over time. This ensures that investing in your wellness journey remains manageable and worry-free.</p>"},{"type":"html","id":"ggtaeOe2tly_text","label":"ggtaeOe2tly_text","default":"<p>The <strong>Elev Studio Reformer</strong> isnt just another piece of fitness equipmentit's an <strong>entirely elevated experience.</strong> Meticulously <strong>handcrafted</strong> with premium beech wood, advanced Korean Elephant springs, and an integrated metal tower, it provides studio-grade precision in your own home. Unlike mass-produced options, the Elev Studio is limited to only 50 units per month, ensuring <strong>unparalleled quality, exclusivity, and luxury in every detail.</strong></p>"},{"type":"html","id":"ggsrNBotSO4_text","label":"ggsrNBotSO4_text","default":"<p>Every Elev Studio Reformer is handcrafted and made to order, ensuring unmatched quality and attention to detail. Production typically takes <strong>56 weeks,</strong> with shipping taking an additional <strong>45 weeks,</strong> depending on your location.</p>"},{"type":"html","id":"ggK5wkYymoE_text","label":"ggK5wkYymoE_text","default":"<p><strong>Both.</strong> Its advanced metal tower and high-grade springs support the most challenging Pilates routines, yet the Elev Studio is gentle enough to support beginners starting their journey. It's designed to evolve with your practice over the years, <strong>growing in sophistication as you do.</strong></p>"},{"type":"html","id":"ggh2fE4a1Y9_text","label":"ggh2fE4a1Y9_text","default":"<p>Your Elev Studio comes with a comprehensive warranty<strong>\"30-Day Smile Guarantee\".</strong> Rest assured we design and build our reformers to last a lifetime.</p>"},{"type":"html","id":"ggru91WV73l_text","label":"ggru91WV73l_text","default":"<p><strong>Absolutely.</strong> However, due to its premium quality and integrated metal tower, it is not foldable and is ideally suited for <strong>dedicated spaces.</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}