
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-569217677847954412.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-569217677847954412.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-569217677847954412.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-569217677847954412.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-569217677847954412.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-569217677847954412.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-569217677847954412.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-569217677847954412.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-569217677847954412.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-569217677847954412.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-569217677847954412.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-569217677847954412.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-569217677847954412.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-569217677847954412.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-569217677847954412.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-569217677847954412.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-569217677847954412.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-569217677847954412.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-569217677847954412.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-569217677847954412.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-569217677847954412.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-569217677847954412.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-569217677847954412.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-569217677847954412.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-569217677847954412.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-569217677847954412.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-569217677847954412.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-569217677847954412.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-569217677847954412.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-569217677847954412.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-569217677847954412.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-569217677847954412.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-569217677847954412.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-569217677847954412.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-569217677847954412.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-569217677847954412.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-569217677847954412.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-569217677847954412.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-569217677847954412.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-569217677847954412.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-569217677847954412.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-569217677847954412.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-569217677847954412.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-569217677847954412.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-569217677847954412.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-569217677847954412.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-569217677847954412.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-569217677847954412.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-569217677847954412.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-569217677847954412.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-569217677847954412.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-569217677847954412.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-569217677847954412.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-569217677847954412.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-569217677847954412.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-569217677847954412.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-569217677847954412.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-569217677847954412.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-569217677847954412.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-569217677847954412.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-569217677847954412.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-569217677847954412.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-569217677847954412.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-569217677847954412.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-569217677847954412.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-569217677847954412.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-569217677847954412.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-569217677847954412.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-569217677847954412.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-569217677847954412.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-569217677847954412.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-569217677847954412.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-569217677847954412.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-569217677847954412.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-569217677847954412.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-569217677847954412.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-569217677847954412.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-569217677847954412.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-569217677847954412.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-569217677847954412.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-569217677847954412.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-569217677847954412.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-569217677847954412.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-569217677847954412.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-569217677847954412.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-569217677847954412.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-569217677847954412.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-569217677847954412.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-569217677847954412.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-569217677847954412.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-569217677847954412.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-569217677847954412.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-569217677847954412 .-gp-translate-x-1\/2,.gps-569217677847954412 .-gp-translate-y-1\/2,.gps-569217677847954412 .gp-rotate-0,.gps-569217677847954412 .gp-rotate-180,.gps-569217677847954412 .mobile\:gp-rotate-0,.gps-569217677847954412 .mobile\:gp-rotate-180,.gps-569217677847954412 .tablet\:gp-rotate-0,.gps-569217677847954412 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-569217677847954412 .gp-absolute{position:absolute}.gps-569217677847954412 .gp-relative{position:relative}.gps-569217677847954412 .gp-left-0{left:0}.gps-569217677847954412 .gp-left-1\/2{left:50%}.gps-569217677847954412 .gp-right-0{right:0}.gps-569217677847954412 .gp-top-0{top:0}.gps-569217677847954412 .gp-top-1\/2{top:50%}.gps-569217677847954412 .gp-z-1{z-index:1}.gps-569217677847954412 .gp-z-2{z-index:2}.gps-569217677847954412 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-569217677847954412 .gp-my-0{margin-bottom:0;margin-top:0}.gps-569217677847954412 .gp-mb-0{margin-bottom:0}.gps-569217677847954412 .gp-block{display:block}.gps-569217677847954412 .gp-flex{display:flex}.gps-569217677847954412 .gp-grid{display:grid}.gps-569217677847954412 .\!gp-hidden{display:none!important}.gps-569217677847954412 .gp-hidden{display:none}.gps-569217677847954412 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-569217677847954412 .gp-h-full{height:100%}.gps-569217677847954412 .\!gp-min-h-full{min-height:100%!important}.gps-569217677847954412 .gp-w-14{width:56px}.gps-569217677847954412 .gp-w-5{width:20px}.gps-569217677847954412 .gp-w-full{width:100%}.gps-569217677847954412 .\!gp-max-w-none{max-width:none!important}.gps-569217677847954412 .gp-max-w-full{max-width:100%}.gps-569217677847954412 .gp-flex-1{flex:1 1 0%}.gps-569217677847954412 .gp-shrink-0{flex-shrink:0}.gps-569217677847954412 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-569217677847954412 .-gp-translate-x-1\/2,.gps-569217677847954412 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-569217677847954412 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-569217677847954412 .gp-rotate-0{--tw-rotate:0deg}.gps-569217677847954412 .gp-rotate-0,.gps-569217677847954412 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-569217677847954412 .gp-rotate-180{--tw-rotate:180deg}.gps-569217677847954412 .gp-cursor-pointer{cursor:pointer}.gps-569217677847954412 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-569217677847954412 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-569217677847954412 .\!gp-flex-row{flex-direction:row!important}.gps-569217677847954412 .gp-flex-row{flex-direction:row}.gps-569217677847954412 .gp-flex-col{flex-direction:column}.gps-569217677847954412 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-569217677847954412 .gp-items-center{align-items:center}.gps-569217677847954412 .gp-justify-center{justify-content:center}.gps-569217677847954412 .gp-justify-between{justify-content:space-between}.gps-569217677847954412 .gp-gap-2{gap:8px}.gps-569217677847954412 .gp-overflow-hidden{overflow:hidden}.gps-569217677847954412 .gp-rounded{border-radius:4px}.gps-569217677847954412 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-569217677847954412 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-569217677847954412 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-569217677847954412 .gp-text-center{text-align:center}.gps-569217677847954412 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-569217677847954412 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-569217677847954412 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-569217677847954412 .gp-duration-200{transition-duration:.2s}.gps-569217677847954412 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-569217677847954412 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}@media (max-width:1024px){.gps-569217677847954412 .tablet\:gp-absolute{position:absolute}.gps-569217677847954412 .tablet\:gp-left-0{left:0}.gps-569217677847954412 .tablet\:gp-right-0{right:0}.gps-569217677847954412 .tablet\:gp-block{display:block}.gps-569217677847954412 .tablet\:\!gp-hidden{display:none!important}.gps-569217677847954412 .tablet\:gp-hidden{display:none}.gps-569217677847954412 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-569217677847954412 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-569217677847954412 .tablet\:gp-rotate-0,.gps-569217677847954412 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-569217677847954412 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-569217677847954412 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-569217677847954412 .tablet\:gp-flex-row{flex-direction:row}.gps-569217677847954412 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-569217677847954412 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-569217677847954412 .mobile\:gp-static{position:static}.gps-569217677847954412 .mobile\:\!gp-absolute{position:absolute!important}.gps-569217677847954412 .mobile\:gp-left-0{left:0}.gps-569217677847954412 .mobile\:gp-right-0{right:0}.gps-569217677847954412 .mobile\:gp-z-2{z-index:2}.gps-569217677847954412 .mobile\:gp-block{display:block}.gps-569217677847954412 .mobile\:\!gp-flex{display:flex!important}.gps-569217677847954412 .mobile\:\!gp-hidden{display:none!important}.gps-569217677847954412 .mobile\:gp-hidden{display:none}.gps-569217677847954412 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-569217677847954412 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-569217677847954412 .mobile\:gp-rotate-0,.gps-569217677847954412 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-569217677847954412 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-569217677847954412 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-569217677847954412 .mobile\:gp-flex-row{flex-direction:row}.gps-569217677847954412 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-569217677847954412 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-569217677847954412 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-569217677847954412 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-569217677847954412 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-569217677847954412 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-569217677847954412 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-569217677847954412 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#e7d7cd","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""},"mobile":{"attachment":"scroll","color":"#e5d8cc","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"ghcQ6Bg5fE"}' data-id="ghcQ6Bg5fE" id="ghcQ6Bg5fE" data-same-height-subgrid-container class="ghcQ6Bg5fE gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:15px;--pb:48px;--pr:15px;--pt-mobile:42px;--pl-mobile:0px;--pb-mobile:14px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#e7d7cd;--bgc-mobile:#e5d8cc;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="geHPzeIwm0 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g5MQbXK3xy"}' data-id="g5MQbXK3xy" id="g5MQbXK3xy" data-same-height-subgrid-container class="g5MQbXK3xy gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--mb-mobile:28px;--pl-mobile:15px;--pr-mobile:15px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCmc9vhdbW gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2IkdsoepX"
        class="g2IkdsoepX"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:-32px;--mb-mobile:0px;--pt-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756290068163"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg2IkdsoepX_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZ9GT1tlzo"
        class="gZ9GT1tlzo"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:-32px;--mb-mobile:0px;--pt-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756290068164"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZ9GT1tlzo_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}},"mobile":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Carousel","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    <gp-carousel gp-data='{"id":"g1nJCnvyiS","setting":{"animationMode":"ease-in","arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"}},"arrowCustom":"<svg width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n              <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z\"/>\n              </svg>\n              ","arrowCustomColor":"#000000","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24,"mobile":30},"autoplay":false,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 1","Slide 2","Slide 3","Slide 4"],"controlOverContent":{"desktop":true},"dot":{"desktop":false,"mobile":true,"tablet":false},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":16},"dotSize":{"desktop":12},"dotStyle":{"desktop":"inside","mobile":"outside","tablet":"inside"},"enableDrag":{"desktop":true},"itemNumber":{"desktop":4,"mobile":2,"tablet":3},"label":true,"loop":{"desktop":true},"navigationEnable":{"desktop":false,"mobile":true,"tablet":false},"navigationStyle":{"desktop":"inside","mobile":"inside","tablet":"inside"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"rtl":false,"runPreview":false,"showWhenHover":false,"sneakPeak":{"desktop":false,"mobile":true,"tablet":true},"sneakPeakOffsetCenter":{"desktop":50},"sneakPeakOffsetForward":{"desktop":50,"mobile":71},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"borderContent":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"carouselShadow":{"angle":90,"blur":"12px","color":"#121212","distance":"4px","spread":"0px","type":"shadow-1"},"fullWidth":{"desktop":false,"mobile":false,"tablet":false},"hasActiveShadow":false,"playSpeed":500,"roundedContent":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"custom"},"sizeSetting":{"desktop":{"height":"auto","shapeLinked":false,"width":"default"}},"spacing":{"desktop":"30","mobile":"24"}}}' data-id="g1nJCnvyiS" id="gp-root-carousel-g1nJCnvyiS" style="--jc:center" class="gp-group/carousel gp-w-full gp-flex">
      <div
        
        class="g1nJCnvyiS gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--mb-mobile:42px;--pl-mobile:15px;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w)"
      >
        <div class="gp-relative gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row" style="--h:100%;--h-tablet:100%;--h-mobile:auto;gap:16px">
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-g1nJCnvyiS g1nJCnvyiS gp-carousel-action-back gem-slider-previous gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--bg:transparent;--d:none;--d-tablet:none;--d-mobile:flex;--left:3px;--right:initial;--top:initial;--bottom:;--left-tablet:3px;--right-tablet:initial;--top-tablet:initial;--bottom-tablet:;--left-mobile:16px;--right-mobile:initial;--top-mobile:initial;--bottom-mobile:;--w:32px;--h:32px"
    >
      <style type="text/css">
      .gp-carousel-arrow-g1nJCnvyiS {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-g1nJCnvyiS::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-g1nJCnvyiS {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-g1nJCnvyiS::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-g1nJCnvyiS {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-g1nJCnvyiS::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
      style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:30px;--h:24px;--h-tablet:24px;--h-mobile:30px"
    >
        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
  
    </button>
  
          <div id="gp-carousel-g1nJCnvyiS" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none gp-carousel-slider-g1nJCnvyiS mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full" style="--cg-mobile:24px;--cg-tablet:30px;--cg:30px">
            
    
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-g1nJCnvyiS gp-child-item-g1nJCnvyiS gxUQDeXj6H"
      style="--minw:calc(100% / 4 - 22.5px);--minw-tablet:calc(100% / 2.5 - 18px);--minw-mobile:calc(100% / 1.29 - 5.395348837209303px);--maxw:calc(100% / 4 - 22.5px);--maxw-tablet:calc(100% / 2.5 - 18px);--maxw-mobile:calc(100% / 1.29 - 5.395348837209303px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px"
      data-index="0"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
       data-id="gGoqBdiDtZ" class="gGoqBdiDtZ !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:solid;--bw:2px 2px 2px 2px;--bc:#FFFFFF;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--aspect:auto">
      
  <gp-lite-html5-embed is-check-loaded="false">
    
    <video
    id="gp-video-gGoqBdiDtZ" title="Video" preload="none" data-src="https://cdn.shopify.com/videos/c/o/v/bb36f56103754bcf94eaf17086ae3214.mp4" poster="{{ "gempages_567635487360025509-3f0e0ba2-9afb-4213-a11d-ca48b00b6888.png" | file_url }}" data-poster="{{ "gempages_567635487360025509-3f0e0ba2-9afb-4213-a11d-ca48b00b6888.png" | file_url }}"
      style="--aspect:auto"
      class="gp-w-full gp-lazyload-video"
      controls
      
      muted
      
      playsinline
      src=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/bb36f56103754bcf94eaf17086ae3214.mp4" src="undefined" type="video/mp4"></source>
    </video>
    
     <div
        role="presentation"
        style="--aspect:auto"
        class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-h-full"
        >
           
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "gempages_567635487360025509-3f0e0ba2-9afb-4213-a11d-ca48b00b6888.png" | file_url }}" data-src="{{ "gempages_567635487360025509-3f0e0ba2-9afb-4213-a11d-ca48b00b6888.png" | file_url }}" data-srcset="{{ "gempages_567635487360025509-3f0e0ba2-9afb-4213-a11d-ca48b00b6888.png" | file_url }}"
      id="video-thumbnail"
      
      class="gp-w-full gp-h-full gp-object-cover gp_lazyload"
    />
          <button type="button" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]" aria-label="Play">
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
  
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      <style id="custom-css-gGoqBdiDtZ">
        .gGoqBdiDtZ[data-component-label="Video"] {

}
      </style>
    
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-g1nJCnvyiS gp-child-item-g1nJCnvyiS gPBoDcjwTA"
      style="--minw:calc(100% / 4 - 22.5px);--minw-tablet:calc(100% / 2.5 - 18px);--minw-mobile:calc(100% / 1.29 - 5.395348837209303px);--maxw:calc(100% / 4 - 22.5px);--maxw-tablet:calc(100% / 2.5 - 18px);--maxw-mobile:calc(100% / 1.29 - 5.395348837209303px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px"
      data-index="1"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
       data-id="gUNxShnOeT" class="gUNxShnOeT !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:solid;--bw:2px 2px 2px 2px;--bc:#FFFFFF;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--aspect:auto">
      
  <gp-lite-html5-embed is-check-loaded="false">
    
    <video
    id="gp-video-gUNxShnOeT" title="Video" preload="none" data-src="https://cdn.shopify.com/videos/c/o/v/46f133a817e24d8aaff2a6fa3491045d.mp4" poster="{{ "gempages_567635487360025509-e354dd90-2131-4564-a404-f859de35753a.png" | file_url }}" data-poster="{{ "gempages_567635487360025509-e354dd90-2131-4564-a404-f859de35753a.png" | file_url }}"
      style="--aspect:auto"
      class="gp-w-full gp-lazyload-video"
      controls
      
      muted
      
      playsinline
      src=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/46f133a817e24d8aaff2a6fa3491045d.mp4" src="undefined" type="video/mp4"></source>
    </video>
    
     <div
        role="presentation"
        style="--aspect:auto"
        class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-h-full"
        >
           
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "gempages_567635487360025509-e354dd90-2131-4564-a404-f859de35753a.png" | file_url }}" data-src="{{ "gempages_567635487360025509-e354dd90-2131-4564-a404-f859de35753a.png" | file_url }}" data-srcset="{{ "gempages_567635487360025509-e354dd90-2131-4564-a404-f859de35753a.png" | file_url }}"
      id="video-thumbnail"
      
      class="gp-w-full gp-h-full gp-object-cover gp_lazyload"
    />
          <button type="button" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]" aria-label="Play">
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
  
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      <style id="custom-css-gUNxShnOeT">
        .gUNxShnOeT[data-component-label="Video"] {

}
      </style>
    
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-g1nJCnvyiS gp-child-item-g1nJCnvyiS gqcxz98V8D"
      style="--minw:calc(100% / 4 - 22.5px);--minw-tablet:calc(100% / 2.5 - 18px);--minw-mobile:calc(100% / 1.29 - 5.395348837209303px);--maxw:calc(100% / 4 - 22.5px);--maxw-tablet:calc(100% / 2.5 - 18px);--maxw-mobile:calc(100% / 1.29 - 5.395348837209303px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px"
      data-index="2"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
       data-id="gCTHPQphWS" class="gCTHPQphWS !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:solid;--bw:2px 2px 2px 2px;--bc:#FFFFFF;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--aspect:auto">
      
  <gp-lite-html5-embed is-check-loaded="false">
    
    <video
    id="gp-video-gCTHPQphWS" title="Video" preload="none" data-src="https://cdn.shopify.com/videos/c/o/v/a7be915f870340c38e56393db5576907.mp4" poster="{{ "gempages_567635487360025509-69f9f031-6640-403c-affc-e12bcf582570.png" | file_url }}" data-poster="{{ "gempages_567635487360025509-69f9f031-6640-403c-affc-e12bcf582570.png" | file_url }}"
      style="--aspect:auto"
      class="gp-w-full gp-lazyload-video"
      controls
      
      muted
      
      playsinline
      src=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/a7be915f870340c38e56393db5576907.mp4" src="undefined" type="video/mp4"></source>
    </video>
    
     <div
        role="presentation"
        style="--aspect:auto"
        class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-h-full"
        >
           
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "gempages_567635487360025509-69f9f031-6640-403c-affc-e12bcf582570.png" | file_url }}" data-src="{{ "gempages_567635487360025509-69f9f031-6640-403c-affc-e12bcf582570.png" | file_url }}" data-srcset="{{ "gempages_567635487360025509-69f9f031-6640-403c-affc-e12bcf582570.png" | file_url }}"
      id="video-thumbnail"
      
      class="gp-w-full gp-h-full gp-object-cover gp_lazyload"
    />
          <button type="button" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]" aria-label="Play">
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
  
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      <style id="custom-css-gCTHPQphWS">
        .gCTHPQphWS[data-component-label="Video"] {

}
      </style>
    
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-g1nJCnvyiS gp-child-item-g1nJCnvyiS g7qBl__srB"
      style="--minw:calc(100% / 4 - 22.5px);--minw-tablet:calc(100% / 2.5 - 18px);--minw-mobile:calc(100% / 1.29 - 5.395348837209303px);--maxw:calc(100% / 4 - 22.5px);--maxw-tablet:calc(100% / 2.5 - 18px);--maxw-mobile:calc(100% / 1.29 - 5.395348837209303px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pageType:GP_PRODUCT;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px"
      data-index="3"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
       data-id="g7jd3pW3GR" class="g7jd3pW3GR !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--aspect:auto">
      
  <gp-lite-html5-embed is-check-loaded="false">
    
    <video
    id="gp-video-g7jd3pW3GR" title="Video" preload="none" data-src="https://cdn.shopify.com/videos/c/o/v/2401f9ed64304eec90eed10e32e61543.mp4" poster="{{ "gempages_567635487360025509-010e8b3e-be8d-4eb2-b3c9-692fe27890ad.png" | file_url }}" data-poster="{{ "gempages_567635487360025509-010e8b3e-be8d-4eb2-b3c9-692fe27890ad.png" | file_url }}"
      style="--aspect:auto"
      class="gp-w-full gp-lazyload-video"
      controls
      
      muted
      
      playsinline
      src=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/2401f9ed64304eec90eed10e32e61543.mp4" src="undefined" type="video/mp4"></source>
    </video>
    
     <div
        role="presentation"
        style="--aspect:auto"
        class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-h-full"
        >
           
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "gempages_567635487360025509-010e8b3e-be8d-4eb2-b3c9-692fe27890ad.png" | file_url }}" data-src="{{ "gempages_567635487360025509-010e8b3e-be8d-4eb2-b3c9-692fe27890ad.png" | file_url }}" data-srcset="{{ "gempages_567635487360025509-010e8b3e-be8d-4eb2-b3c9-692fe27890ad.png" | file_url }}"
      id="video-thumbnail"
      
      class="gp-w-full gp-h-full gp-object-cover gp_lazyload"
    />
          <button type="button" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]" aria-label="Play">
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
  
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-g1nJCnvyiS g1nJCnvyiS gp-carousel-action-next gem-slider-next gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--bg:transparent;--d:none;--d-tablet:none;--d-mobile:flex;--right:3px;--left:initial;--top:;--bottom:initial;--right-tablet:3px;--left-tablet:initial;--top-tablet:;--bottom-tablet:initial;--right-mobile:16px;--left-mobile:initial;--top-mobile:;--bottom-mobile:initial;--w:32px;--h:32px"
    >
      <style type="text/css">
      .gp-carousel-arrow-g1nJCnvyiS {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-g1nJCnvyiS::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-g1nJCnvyiS {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-g1nJCnvyiS::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-g1nJCnvyiS {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-g1nJCnvyiS::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
      style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:30px;--h:24px;--h-tablet:24px;--h-mobile:30px"
    >
        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
  
    </button>
  
        </div>
        
    
        <div class="gp-carousel-dot-container gp-carousel-dot-container-g1nJCnvyiS gp-z-2 gp-flex gp-flex-1 gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-absolute gp-flex-row gp-left-0 gp-right-0 tablet:gp-absolute tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-static mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0" style="--bottom:16px;--bottom-tablet:16px;--mt-mobile:16px;--d:none;--d-tablet:none;--d-mobile:flex">
          <!-- item render by js -->
        </div>
      
  
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-carousel-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-569217677847954412 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/cngunn-h8/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=568753992239154208&sectionId=569217677847954412)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg2IkdsoepX_text","label":"gg2IkdsoepX_text","default":"<span style=\"color:#000000;font-size:28px;\">See Why Women Are Choosing Effortless Wellness</span>"},{"type":"html","id":"ggZ9GT1tlzo_text","label":"ggZ9GT1tlzo_text","default":"<span style=\"color:#000000;font-size:40px;\">See Why Over 10,000 Women Chose Effortless Wellness</span>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  