
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-573266160376808198.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-573266160376808198.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-573266160376808198.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-573266160376808198.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-573266160376808198.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-573266160376808198.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-573266160376808198.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-573266160376808198.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-573266160376808198.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-573266160376808198.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-573266160376808198.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-573266160376808198.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-573266160376808198.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-573266160376808198.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-573266160376808198.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-573266160376808198.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-573266160376808198.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-573266160376808198.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-573266160376808198.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-573266160376808198.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-573266160376808198.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-573266160376808198.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-573266160376808198.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-573266160376808198.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-573266160376808198.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-573266160376808198.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-573266160376808198.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-573266160376808198.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-573266160376808198.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-573266160376808198.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-573266160376808198.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-573266160376808198.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-573266160376808198.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-573266160376808198.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-573266160376808198.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-573266160376808198.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-573266160376808198.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-573266160376808198.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-573266160376808198.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-573266160376808198.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-573266160376808198.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-573266160376808198.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-573266160376808198.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-573266160376808198.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-573266160376808198.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-573266160376808198.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-573266160376808198.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-573266160376808198.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-573266160376808198.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-573266160376808198.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-573266160376808198.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-573266160376808198.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-573266160376808198.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-573266160376808198.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-573266160376808198.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-573266160376808198.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-573266160376808198.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-573266160376808198.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-573266160376808198.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-573266160376808198.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-573266160376808198.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-573266160376808198.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-573266160376808198.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-573266160376808198.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-573266160376808198.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-573266160376808198.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-573266160376808198.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-573266160376808198.gps.gpsil [style*="--bga-tablet:"]{background-attachment:var(--bga-tablet)}.gps-573266160376808198.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-573266160376808198.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-573266160376808198.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-573266160376808198.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-573266160376808198.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-573266160376808198.gps.gpsil [style*="--bc-tablet:"]{border-color:var(--bc-tablet)}.gps-573266160376808198.gps.gpsil [style*="--bs-tablet:"]{border-style:var(--bs-tablet)}.gps-573266160376808198.gps.gpsil [style*="--bw-tablet:"]{border-width:var(--bw-tablet)}.gps-573266160376808198.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-573266160376808198.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-573266160376808198.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-573266160376808198.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-573266160376808198.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-573266160376808198.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-573266160376808198.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-573266160376808198.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-573266160376808198.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-573266160376808198.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-573266160376808198.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-573266160376808198.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-573266160376808198.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-573266160376808198.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-573266160376808198.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-573266160376808198.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-573266160376808198.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-573266160376808198.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-573266160376808198.gps.gpsil [style*="--bc-mobile:"]{border-color:var(--bc-mobile)}.gps-573266160376808198.gps.gpsil [style*="--bs-mobile:"]{border-style:var(--bs-mobile)}.gps-573266160376808198.gps.gpsil [style*="--bw-mobile:"]{border-width:var(--bw-mobile)}.gps-573266160376808198.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-573266160376808198.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-573266160376808198.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-573266160376808198.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-573266160376808198.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-573266160376808198.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-573266160376808198.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-573266160376808198.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-573266160376808198.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-573266160376808198.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-573266160376808198.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-573266160376808198.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-573266160376808198.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-573266160376808198.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-573266160376808198.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-573266160376808198 .gp-pointer-events-none{pointer-events:none}.gps-573266160376808198 .gp-absolute{position:absolute}.gps-573266160376808198 .gp-relative{position:relative}.gps-573266160376808198 .gp-inset-0{inset:0}.gps-573266160376808198 .gp-z-1{z-index:1}.gps-573266160376808198 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-573266160376808198 .gp-mb-0{margin-bottom:0}.gps-573266160376808198 .gp-inline-block{display:inline-block}.gps-573266160376808198 .gp-flex{display:flex}.gps-573266160376808198 .gp-inline-flex{display:inline-flex}.gps-573266160376808198 .gp-grid{display:grid}.gps-573266160376808198 .gp-contents{display:contents}.gps-573266160376808198 .\!gp-hidden{display:none!important}.gps-573266160376808198 .gp-hidden{display:none}.gps-573266160376808198 .gp-h-auto{height:auto}.gps-573266160376808198 .gp-h-full{height:100%}.gps-573266160376808198 .gp-w-full{width:100%}.gps-573266160376808198 .gp-w-max{width:-moz-max-content;width:max-content}.gps-573266160376808198 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-573266160376808198 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-573266160376808198 .gp-max-w-full{max-width:100%}.gps-573266160376808198 .gp-flex-1{flex:1 1 0%}.gps-573266160376808198 .gp-flex-none{flex:none}.gps-573266160376808198 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-573266160376808198 .gp-flex-col{flex-direction:column}.gps-573266160376808198 .gp-flex-wrap{flex-wrap:wrap}.gps-573266160376808198 .gp-items-center{align-items:center}.gps-573266160376808198 .gp-justify-center{justify-content:center}.gps-573266160376808198 .gp-overflow-hidden{overflow:hidden}.gps-573266160376808198 .gp-break-words{overflow-wrap:break-word}.gps-573266160376808198 .gp-text-center{text-align:center}.gps-573266160376808198 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-573266160376808198 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-573266160376808198 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-573266160376808198 .gp-no-underline{text-decoration-line:none}.gps-573266160376808198 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-573266160376808198 .gp-duration-200{transition-duration:.2s}.gps-573266160376808198 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-573266160376808198 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-573266160376808198 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-573266160376808198 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-573266160376808198 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-573266160376808198 .tablet\:\!gp-hidden{display:none!important}.gps-573266160376808198 .tablet\:gp-hidden{display:none}.gps-573266160376808198 .tablet\:gp-h-auto{height:auto}.gps-573266160376808198 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-573266160376808198 .mobile\:\!gp-hidden{display:none!important}.gps-573266160376808198 .mobile\:gp-hidden{display:none}.gps-573266160376808198 .mobile\:gp-h-auto{height:auto}.gps-573266160376808198 .mobile\:gp-flex-none{flex:none}}.gps-573266160376808198 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-573266160376808198 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"ghHxqp8CuW"}' data-id="ghHxqp8CuW" id="ghHxqp8CuW" data-same-height-subgrid-container class="ghHxqp8CuW gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gliquYKpd_ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F2F2D7","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""},"mobile":{"attachment":"scroll","color":"#e6d7cc","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gUqKzVKASe"}' data-id="gUqKzVKASe" id="gUqKzVKASe" data-same-height-subgrid-container class="gUqKzVKASe gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:32px;--pl:20px;--pb:32px;--pr:20px;--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:30px;--pb-mobile:20px;--pr-mobile:30px;--cg:30px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:#F2F2D7;--bgc-mobile:#e6d7cc;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-tablet:center;--o-mobile:1"
      class="gaNqRBC12h gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g6MC-6DjDd"}' data-id="g6MC-6DjDd" id="g6MC-6DjDd" data-same-height-subgrid-container class="g6MC-6DjDd gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bs-mobile:solid;--bw:3px 3px 3px 3px;--bw-mobile:3px 3px 3px 3px;--bc:#86A605;--bc-mobile:#a78574;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:32px;--pl:48px;--pb:32px;--pr:48px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px;--pt-tablet:16px;--pl-tablet:24px;--pb-tablet:16px;--pr-tablet:24px;--cg:8px;--gtc:minmax(0, 12fr);--w:585px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gdU7sMwXzX gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4MBcd3HGf"
        class="g4MBcd3HGf"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339629839"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#DE1313;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4MBcd3HGf_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g4MBcd3HGf">
        .g4MBcd3HGf {

}
.g4MBcd3HGf p {

}
      </style>
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px" class="g4G8Y12KSz ">
      
    <gp-countdown-timer
        data-id="g4G8Y12KSz"
        gp-href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/pro-reformer"
        class="gp-flex"
        style="--jc:center"
        gp-data='{"behaviour":"daily","dateStandard":"2024-08-13T02:43:26.689Z","dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"hrs","loopAfterFinish":true,"minuteLabel":"min","redirectUrl":{"link":"/products/pro-reformer","selectedTab":"products","target":"_self","title":"Elevé Reformer"},"secondLabel":"sec","timeZone":"UTC-7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1720763006689,"hours":3,"mins":0,"startTime":1720752206689},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"g4G8Y12KSz","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"solid","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"0px"}},"position":"all"},"boxShadow":{"desktop":{"normal":{"angle":49,"blur":"4px","color":"rgba(18, 18, 18, 0.7)","distance":"4px","spread":"4px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"pageType":"GP_STATIC","rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"margin":{"bottom":"8px"}}}},"label":"Countdown Timer","settings":{"behaviour":"daily","dateStandard":"2024-08-13T02:43:26.689Z","dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"hrs","loopAfterFinish":true,"minuteLabel":"min","redirectUrl":{"link":"/products/pro-reformer","selectedTab":"products","target":"_self","title":"Elevé Reformer"},"secondLabel":"sec","timeZone":"UTC-7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1720763006689,"hours":3,"mins":0,"startTime":1720752206689},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#FDF9F4","borderState":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"colorLabel":"text-1","colorNumber":"text-2","enableLabelTextStyle":true,"horizontalGap":"8px","itemPadding":{"desktop":{"bottom":"4px","left":"9.5px","right":"9.5px","top":"4px"},"mobile":{"bottom":"4px","left":"9.5px","right":"9.5px","top":"4px"}},"labelTypo":{"attrs":{"color":"#E30D0D"},"custom":{"fontSize":{"desktop":"10px","mobile":"10px","tablet":"13px"},"fontStyle":"normal","fontWeight":"600","hasShadowText":false,"letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-2"},"numTypo":{"attrs":{"bold":true,"color":"#E30D0D"},"custom":{"fontSize":{"desktop":"13px","mobile":"12px","tablet":"16px"},"fontStyle":"normal","fontWeight":"600","hasShadowText":false,"letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"subheading-2"},"roundedState":{"normal":{"bblr":"3px","bbrr":"3px","btlr":"3px","btrr":"3px","radiusType":"custom"}},"textAlign":{"desktop":"center"},"verticalGap":"0px"},"tag":"Countdown","uid":"g4G8Y12KSz","childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative " style="gap:8px;--jc:center">
          <a
              href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/pro-reformer"
              target="_self"
              aria-label="Countdown link"
              class="gp-absolute gp-inset-0 gp-z-1 gp-pointer-events-none"
            > </a>
          
          
          
    <div style="--pl:9.5px;--pr:9.5px;--pt:4px;--pb:4px;--pl-mobile:9.5px;--pr-mobile:9.5px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FDF9F4" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4G8Y12KSz-text" id="hour"
        class="g4G8Y12KSz"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339629855"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--size:13px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4G8Y12KSz-text"
        class="g4G8Y12KSz"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339629856"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:10px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4G8Y12KSz_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:9.5px;--pr:9.5px;--pt:4px;--pb:4px;--pl-mobile:9.5px;--pr-mobile:9.5px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FDF9F4" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4G8Y12KSz-text" id="minute"
        class="g4G8Y12KSz"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339629857"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--size:13px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4G8Y12KSz-text"
        class="g4G8Y12KSz"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339629858"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:10px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4G8Y12KSz_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:9.5px;--pr:9.5px;--pt:4px;--pb:4px;--pl-mobile:9.5px;--pr-mobile:9.5px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FDF9F4" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4G8Y12KSz-text" id="second"
        class="g4G8Y12KSz"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339629859"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--size:13px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4G8Y12KSz-text"
        class="g4G8Y12KSz"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339629860"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:10px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4G8Y12KSz_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gclT6Ia1Q9"
        class="gclT6Ia1Q9"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339629882"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggclT6Ia1Q9_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzVDiA2HY6"
        class="gzVDiA2HY6"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339629886"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzVDiA2HY6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"/products/pro-reformer","selectedTab":"products","target":"_self","title":"Elevé Reformer"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--ta:center" >
        <style>[data-id="g2l19cXRpS"].gp-button-base::before, [data-id="g2l19cXRpS-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  
    }
  
      
  [data-id="g2l19cXRpS"]:hover::before, [data-id="g2l19cXRpS-interaction"]:hover::before {
    
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  }</style>
        
        <a
          data-id="g2l19cXRpS" dataId="g2l19cXRpS" data-state="idle" aria-label="<p>Get $750 off</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/pro-reformer" target="_self"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:14px;--pb-mobile:14px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--hvr-bblr:6px;--hvr-bbrr:6px;--hvr-btlr:6px;--hvr-btrr:6px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#a78574;--bg:#a78574;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
          class="g2l19cXRpS gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg2l19cXRpS_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-g2l19cXRpS">
        button.g2l19cXRpS {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FDF9F4","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gjdpM0Frpo"}' data-id="gjdpM0Frpo" id="gjdpM0Frpo" data-same-height-subgrid-container class="gjdpM0Frpo gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:4px;--pt:12px;--pb:12px;--mb-mobile:8px;--pt-mobile:12px;--pb-mobile:12px;--cg:16px;--cg-mobile:14px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:310px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:#FDF9F4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gCa48JEpSM gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmms98Z-bn"
        class="gmms98Z-bn"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339629904"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmms98Z-bn_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gmms98Z-bn">
        .gmms98Z-bn {

}
.gmms98Z-bn p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gnOf24BXYF gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gq9i3Ta8T1"
        class="gq9i3Ta8T1"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339629908"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggq9i3Ta8T1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gq9i3Ta8T1">
        .gq9i3Ta8T1 {

}
.gq9i3Ta8T1 p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gO0Rri5tLr gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="giE5_M7XFL"
        class="giE5_M7XFL"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339629912"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggiE5_M7XFL_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-giE5_M7XFL">
        .giE5_M7XFL {

}
.giE5_M7XFL p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_6D6rrUqz"
        class="g_6D6rrUqz"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339629916"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_6D6rrUqz_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-tablet:center;--o-mobile:0"
      class="g0Sn3ZtQtv gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gkQW5NQEju"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:-88px;--mb-mobile:-72px;--ta:center"
      class="gp-group/image gp-relative force-publish-1763339629921 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gkQW5NQEju"
    >
      <a
        href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/pro-reformer" target="_self" title
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_567635487360025509-2eb28b73-8aab-4f84-9fff-70a366c42007.png" | file_url }}" srcset="{{ "gempages_567635487360025509-2eb28b73-8aab-4f84-9fff-70a366c42007.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_567635487360025509-50b37410-8be5-44ea-97d3-36004e68463b.webp" | file_url }}" srcset="{{ "gempages_567635487360025509-50b37410-8be5-44ea-97d3-36004e68463b.webp" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_567635487360025509-50b37410-8be5-44ea-97d3-36004e68463b.webp" | file_url }}" data-src="{{ "gempages_567635487360025509-50b37410-8be5-44ea-97d3-36004e68463b.webp" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:contain;--w:381px;--w-tablet:381px;--w-mobile:3150px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </a>
    </div>
  
      <style id="custom-css-gkQW5NQEju">
        .gkQW5NQEju {

}
.gkQW5NQEju > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#e6d7cc","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""},"mobile":{"attachment":"scroll","color":"#e6d7cc","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""},"tablet":{"attachment":"scroll","color":"#e6d7cc","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gPPI3j8V9K"}' data-id="gPPI3j8V9K" id="gPPI3j8V9K" data-same-height-subgrid-container class="gPPI3j8V9K gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:32px;--pl:20px;--pb:32px;--pr:20px;--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:30px;--pb-mobile:20px;--pr-mobile:30px;--cg:30px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:#e6d7cc;--bgc-tablet:#e6d7cc;--bgc-mobile:#e6d7cc;--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-tablet:scroll;--bga-mobile:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-tablet:center;--o-mobile:1"
      class="geJ03YbXgf gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gnLKsumpnb"}' data-id="gnLKsumpnb" id="gnLKsumpnb" data-same-height-subgrid-container class="gnLKsumpnb gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bs-tablet:solid;--bs-mobile:solid;--bw:3px 3px 3px 3px;--bw-tablet:3px 3px 3px 3px;--bw-mobile:3px 3px 3px 3px;--bc:#b49a86;--bc-tablet:#b49a86;--bc-mobile:#a78574;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:32px;--pl:48px;--pb:32px;--pr:48px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px;--pt-tablet:16px;--pl-tablet:24px;--pb-tablet:16px;--pr-tablet:24px;--cg:8px;--gtc:minmax(0, 12fr);--w:585px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gb2DBpFKxX gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8n8MV0YqG"
        class="g8n8MV0YqG"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339629990"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#DE1313;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8n8MV0YqG_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g8n8MV0YqG">
        .g8n8MV0YqG {

}
.g8n8MV0YqG p {

}
      </style>
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px" class="gq3_b9EDgS ">
      
    <gp-countdown-timer
        data-id="gq3_b9EDgS"
        gp-href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/pro-reformer"
        class="gp-flex"
        style="--jc:center"
        gp-data='{"behaviour":"daily","dateStandard":"2024-08-13T02:43:26.689Z","dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"hrs","loopAfterFinish":true,"minuteLabel":"min","redirectUrl":{"link":"/products/pro-reformer","selectedTab":"products","target":"_self","title":"Elevé Reformer"},"secondLabel":"sec","timeZone":"UTC-7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1720763006689,"hours":3,"mins":0,"startTime":1720752206689},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"gq3_b9EDgS","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"solid","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"0px"}},"position":"all"},"boxShadow":{"desktop":{"normal":{"angle":49,"blur":"4px","color":"rgba(18, 18, 18, 0.7)","distance":"4px","spread":"4px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"pageType":"GP_STATIC","rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"margin":{"bottom":"8px"}}}},"label":"Countdown Timer","settings":{"behaviour":"daily","dateStandard":"2024-08-13T02:43:26.689Z","dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"hrs","loopAfterFinish":true,"minuteLabel":"min","redirectUrl":{"link":"/products/pro-reformer","selectedTab":"products","target":"_self","title":"Elevé Reformer"},"secondLabel":"sec","timeZone":"UTC-7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1720763006689,"hours":3,"mins":0,"startTime":1720752206689},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#FDF9F4","borderState":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"colorLabel":"text-1","colorNumber":"text-2","enableLabelTextStyle":true,"horizontalGap":"8px","itemPadding":{"desktop":{"bottom":"4px","left":"9.5px","right":"9.5px","top":"4px"},"mobile":{"bottom":"4px","left":"9.5px","right":"9.5px","top":"4px"}},"labelTypo":{"attrs":{"color":"#E30D0D"},"custom":{"fontSize":{"desktop":"10px","mobile":"10px","tablet":"13px"},"fontStyle":"normal","fontWeight":"600","hasShadowText":false,"letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-2"},"numTypo":{"attrs":{"bold":true,"color":"#E30D0D"},"custom":{"fontSize":{"desktop":"13px","mobile":"12px","tablet":"16px"},"fontStyle":"normal","fontWeight":"600","hasShadowText":false,"letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"subheading-2"},"roundedState":{"normal":{"bblr":"3px","bbrr":"3px","btlr":"3px","btrr":"3px","radiusType":"custom"}},"textAlign":{"desktop":"center"},"verticalGap":"0px"},"tag":"Countdown","uid":"gq3_b9EDgS","childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative " style="gap:8px;--jc:center">
          <a
              href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/pro-reformer"
              target="_self"
              aria-label="Countdown link"
              class="gp-absolute gp-inset-0 gp-z-1 gp-pointer-events-none"
            > </a>
          
          
          
    <div style="--pl:9.5px;--pr:9.5px;--pt:4px;--pb:4px;--pl-mobile:9.5px;--pr-mobile:9.5px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FDF9F4" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gq3_b9EDgS-text" id="hour"
        class="gq3_b9EDgS"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339629995"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--size:13px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gq3_b9EDgS-text"
        class="gq3_b9EDgS"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339629996"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:10px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggq3_b9EDgS_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:9.5px;--pr:9.5px;--pt:4px;--pb:4px;--pl-mobile:9.5px;--pr-mobile:9.5px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FDF9F4" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gq3_b9EDgS-text" id="minute"
        class="gq3_b9EDgS"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339630014"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--size:13px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gq3_b9EDgS-text"
        class="gq3_b9EDgS"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339630016"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:10px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggq3_b9EDgS_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:9.5px;--pr:9.5px;--pt:4px;--pb:4px;--pl-mobile:9.5px;--pr-mobile:9.5px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FDF9F4" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gq3_b9EDgS-text" id="second"
        class="gq3_b9EDgS"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339630017"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--size:13px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gq3_b9EDgS-text"
        class="gq3_b9EDgS"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339630018"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:10px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#E30D0D;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggq3_b9EDgS_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_UDL2oMaL"
        class="g_UDL2oMaL"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339630030"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_UDL2oMaL_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0xF6Yso0t"
        class="g0xF6Yso0t"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339630036"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0xF6Yso0t_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"/products/pro-reformer","selectedTab":"products","target":"_self","title":"Elevé Reformer"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--ta:center" >
        <style>[data-id="gPkPBHcVRN"].gp-button-base::before, [data-id="gPkPBHcVRN-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  
    }
  
      
  [data-id="gPkPBHcVRN"]:hover::before, [data-id="gPkPBHcVRN-interaction"]:hover::before {
    
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  }</style>
        
        <a
          data-id="gPkPBHcVRN" dataId="gPkPBHcVRN" data-state="idle" aria-label="<p>Get $750 off</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/pro-reformer" target="_self"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:14px;--pb-mobile:14px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--hvr-bblr:6px;--hvr-bbrr:6px;--hvr-btlr:6px;--hvr-btrr:6px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#a78574;--bg:#a78574;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
          class="gPkPBHcVRN gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggPkPBHcVRN_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gPkPBHcVRN">
        button.gPkPBHcVRN {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FDF9F4","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g1-yIx_kmR"}' data-id="g1-yIx_kmR" id="g1-yIx_kmR" data-same-height-subgrid-container class="g1-yIx_kmR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:4px;--pt:12px;--pb:12px;--mb-mobile:8px;--pt-mobile:12px;--pb-mobile:12px;--cg:16px;--cg-mobile:14px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:310px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:#FDF9F4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gXtjPQwN19 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gP4mrgwJWn"
        class="gP4mrgwJWn"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339630121"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggP4mrgwJWn_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gP4mrgwJWn">
        .gP4mrgwJWn {

}
.gP4mrgwJWn p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gNtxeeGWFS gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPQ0zW2b9k"
        class="gPQ0zW2b9k"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339630125"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPQ0zW2b9k_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gPQ0zW2b9k">
        .gPQ0zW2b9k {

}
.gPQ0zW2b9k p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gp3aE4ymcp gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCeJGeAy8j"
        class="gCeJGeAy8j"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339630200"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCeJGeAy8j_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gCeJGeAy8j">
        .gCeJGeAy8j {

}
.gCeJGeAy8j p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTbeHekvkk"
        class="gTbeHekvkk"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339630202"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTbeHekvkk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-tablet:center;--o-mobile:0"
      class="gfsDwAYPEn gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gI1QZUEjd8"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:-88px;--mb-mobile:-72px;--ta:center"
      class="gp-group/image gp-relative force-publish-1763339630214 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gI1QZUEjd8"
    >
      <a
        href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/pro-reformer" target="_self" title
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_567635487360025509-2eb28b73-8aab-4f84-9fff-70a366c42007.png" | file_url }}" srcset="{{ "gempages_567635487360025509-2eb28b73-8aab-4f84-9fff-70a366c42007.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_567635487360025509-2eb28b73-8aab-4f84-9fff-70a366c42007.png" | file_url }}" srcset="{{ "gempages_567635487360025509-2eb28b73-8aab-4f84-9fff-70a366c42007.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_567635487360025509-2eb28b73-8aab-4f84-9fff-70a366c42007.png" | file_url }}" data-src="{{ "gempages_567635487360025509-2eb28b73-8aab-4f84-9fff-70a366c42007.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:contain;--w:381px;--w-tablet:381px;--w-mobile:3150px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </a>
    </div>
  
      <style id="custom-css-gI1QZUEjd8">
        .gI1QZUEjd8 {

}
.gI1QZUEjd8 > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-573266160376808198 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/cngunn-h8/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=573266160292725510&sectionId=573266160376808198)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg4MBcd3HGf_text","label":"gg4MBcd3HGf_text","default":"<p>SALE ENDS SOON</p>"},{"type":"html","id":"gg4G8Y12KSz_dayLabel","label":"gg4G8Y12KSz_dayLabel","default":"Days"},{"type":"html","id":"gg4G8Y12KSz_hourLabel","label":"gg4G8Y12KSz_hourLabel","default":"hrs"},{"type":"html","id":"gg4G8Y12KSz_minuteLabel","label":"gg4G8Y12KSz_minuteLabel","default":"min"},{"type":"html","id":"gg4G8Y12KSz_secondLabel","label":"gg4G8Y12KSz_secondLabel","default":"sec"},{"type":"html","id":"gg4G8Y12KSz_weekLabel","label":"gg4G8Y12KSz_weekLabel","default":"Weeks"},{"type":"html","id":"ggclT6Ia1Q9_text","label":"ggclT6Ia1Q9_text","default":"Elevé Reformer"},{"type":"html","id":"ggzVDiA2HY6_text","label":"ggzVDiA2HY6_text","default":"<p>We only craft 50 Elevé Reformers each month. If this page is live, one might still be available.</p>"},{"type":"html","id":"gg2l19cXRpS_label","label":"gg2l19cXRpS_label","default":"<p>Get $750 off</p>"},{"type":"html","id":"ggmms98Z-bn_text","label":"ggmms98Z-bn_text","default":"<p>Sell-out Risk: <span style=\"color:#E30D0D;\"><strong>High</strong></span></p>"},{"type":"html","id":"ggq9i3Ta8T1_text","label":"ggq9i3Ta8T1_text","default":"<p>|</p>"},{"type":"html","id":"ggiE5_M7XFL_text","label":"ggiE5_M7XFL_text","default":"<p><strong>FREE </strong>shipping</p>"},{"type":"html","id":"gg_6D6rrUqz_text","label":"gg_6D6rrUqz_text","default":"<p>Try it today with a 30-Day Money Back Guarantee!</p>"},{"type":"html","id":"gg8n8MV0YqG_text","label":"gg8n8MV0YqG_text","default":"<p><span style=\"font-size:16px;\">SALE ENDS SOON</span></p>"},{"type":"html","id":"ggq3_b9EDgS_dayLabel","label":"ggq3_b9EDgS_dayLabel","default":"Days"},{"type":"html","id":"ggq3_b9EDgS_hourLabel","label":"ggq3_b9EDgS_hourLabel","default":"hrs"},{"type":"html","id":"ggq3_b9EDgS_minuteLabel","label":"ggq3_b9EDgS_minuteLabel","default":"min"},{"type":"html","id":"ggq3_b9EDgS_secondLabel","label":"ggq3_b9EDgS_secondLabel","default":"sec"},{"type":"html","id":"ggq3_b9EDgS_weekLabel","label":"ggq3_b9EDgS_weekLabel","default":"Weeks"},{"type":"html","id":"gg_UDL2oMaL_text","label":"gg_UDL2oMaL_text","default":"<span style=\"font-size:31px;\">Elevé Reformer</span>"},{"type":"html","id":"gg0xF6Yso0t_text","label":"gg0xF6Yso0t_text","default":"<p><span style=\"font-size:19px;\">We only craft 50 Elevé Reformers each month. If this page is live, one might still be available.</span></p>"},{"type":"html","id":"ggPkPBHcVRN_label","label":"ggPkPBHcVRN_label","default":"<p>Get $750 off</p>"},{"type":"html","id":"ggP4mrgwJWn_text","label":"ggP4mrgwJWn_text","default":"<p>Sell-out Risk: <span style=\"color:#E30D0D;\"><strong>High</strong></span></p>"},{"type":"html","id":"ggPQ0zW2b9k_text","label":"ggPQ0zW2b9k_text","default":"<p>|</p>"},{"type":"html","id":"ggCeJGeAy8j_text","label":"ggCeJGeAy8j_text","default":"<p><strong>FREE </strong>shipping</p>"},{"type":"html","id":"ggTbeHekvkk_text","label":"ggTbeHekvkk_text","default":"<p><span style=\"font-size:16px;\">Try it today with a 30-Day Money Back Guarantee!</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}